<div id="add-entry-form" >
  <form action="/add_entry" method="post"
    onSubmit="return confirm('Are you sure you want to add an entry?');">
    <fieldset>
      <h1>Enter Address Details</h1>
      <div class="add-entry-grid">

        <label for="name-input">Name:</label>
        <input type="text" id="name_input" name="name" placeholder="RR 3 Box 14 - Simpson" required />

        <label for="area-input">Area:</label>
        <input type="text" id="area_input" name="area" placeholder="Dallas" required />
        
        <label for="rnum-input">Route Number:</label>
        <input type="text" name="route_num" placeholder="3" />
        
        <label for="rbox-input">Route Box:</label>
        <input type="text" name="route_box" placeholder="44"/>
        
        <label for="coordinates-input">Coordinates:</label>
        <div id="coordinates-input">
          <input type="text" name="lat" required placeholder="32.77911908614115" required />
          <input type="text" name="long" required placeholder="-96.79900219415437" required />
        </div>  
        
        <div id="notes-input">
          <label for="notes-input-text" id="notes-input-label">Notes:</label>
          <textarea 
              name="notes" id="notes-input-text" rows=8 cols=30 placeholder = "Enter any additional notes about the address here" ></textarea>
        </div>

        <input type="Submit" value="Submit" />
      </div>
    </fieldset>
  </form>
</div>