<label for="search_terms">What's the name of the address entry you want to delete?</h2>
<form action="/lookup_entry" method="get">
  <input type="text" name="search_terms" id="search_terms" required />
</form>