<h1>Rural Route Stops</h1>
<p>There are a total of <strong><%= @entry_count %></strong> entries spread across 
   <strong><%= @area_count %></strong> areas.
</p>
<p><strong>Click on an area's link to see the address entries for that area.</strong></p>
<ul>
  <% @unique_areas.each do |area| %>
    <li><a href="/area/<%= area %>"><%= area %></a></li>
  <% end %>
</ul>


