<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <title>Route Buddy</title>
  </head>
  <body>
    <script>0</script>
    <section id="content" >
      <nav><a href="/">Home</a></nav>
      <h2 class="content-subhead">Search</h2>
      <form action="/search" method="get">
        <input name="query" value="<%= params[:query] %>">
        <button type="submit">Search</button>
      </form>
      <%= yield %>
    </section>
  <footer>
    <small>Route Buddy</small>
  </footer>
  </body>
</html>