<label for="search_terms">What's the name of the address entry you want to edit?</h2>
<form action="/select_entry" method="get">
  <input type="text" name="search_terms" id="search_terms" required />
  <input type="submit" value="Search" />
</form>